@import '../../../../assets/styles/variable.scss';
@import '../../../../assets/styles/spinner';
@import '../../../../assets/styles/app';
@import '../../../../assets/styles/header';
@import '../../../../assets/styles/pages';
@import '../../../../assets/styles/sidebar';
@import '../../../../assets/styles/responsive';



  
.add-button{
    background-color: rgb(204,80,98);
    color:white;
    right: 0;
}

div.lista {
 
  animation: fadein 2s;
  -moz-animation: fadein 2s;
  /* Firefox */
  -webkit-animation: fadein 2s;
  /* Safari and Chrome */
  -o-animation: fadein 2s;
  /* Opera */
}

@keyframes fadein {
  from {
      opacity:0;
  }
  to {
      opacity:1;
  }
}
@-moz-keyframes fadein {
  /* Firefox */
  from {
      opacity:0;
  }
  to {
      opacity:1;
  }
}
@-webkit-keyframes fadein {
  /* Safari and Chrome */
  from {
      opacity:0;
  }
  to {
      opacity:1;
  }
}
@-o-keyframes fadein {
  /* Opera */
  from {
      opacity:0;
  }
  to {
      opacity: 1;
  }
}

:host ::ng-deep .mat-card-header  {
  background-color: white !important;
  padding:5px !important;
}

:host ::ng-deep .mat-card  {
  padding:0 !important;

}
:host ::ng-deep .mat-card.mat-card  {
  background: white;
  margin: 8 !important;
}

:host ::ng-deep .mat-card-content  {
  padding:5px !important;
}

:host ::ng-deep .mat-card-title  {
    color: black;
}

.back-div  { 
    color: black !important;
}

.topbar  {
    padding-left: 8px;
    padding-right: 8px;
}

/* inpurts */
:host ::ng-deep .input-form.mat-form-field-appearance-legacy .mat-form-field-underline,
.input-form.mat-form-field-appearance-legacy .mat-form-field-ripple,
.input-form.mat-form-field-appearance-legacy.mat-focused
	.mat-form-field-underline,
.input-form.mat-form-field-appearance-legacy.mat-focused
	.mat-form-field-ripple  {
	background-color: black;
}

/** Overrides label color **/
:host ::ng-deep .input-form.mat-form-field-appearance-legacy .mat-form-field-label,
.input-form.mat-form-field-appearance-legacy.mat-focused
	.mat-form-field-label  {
	color: black;
}

/** Overrides caret & text color **/
:host ::ng-deep .input-form.mat-form-field-appearance-legacy .mat-input-element  {
	caret-color: black;
  color: red;
}

@import '../../../../assets/styles/patacon/forms';
@import '../../../../assets/styles/patacon/pata';
::ng-deep .pata-form{
  @extend %super-form;
}

::ng-deep .pata-table{
  @extend %super-table;
}

::ng-deep .notdata-block{
  @extend %not-data-block;
}