/* Patacon Color Theme */
$patacon-color: (
    50 : #f2e4e7,
    100 : #e0bbc3,
    200 : #cb8e9c,
    300 : #b66074,
    400 : #a63e56,
    500 : #961c38,
    600 : #8e1932,
    700 : #83142b,
    800 : #791124,
    900 : #680917,
    A100 : #ff9aa5,
    A200 : #ff6777,
    A400 : #ff3449,
    A700 : #ff1a33,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #ffffff,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #ffffff,
        A700 : #ffffff,
    )
);